.a-soul-fan-search-content-cell{
    width: 100%;
    border: 4px solid transparent;
    border-radius: 6px;
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition: all 0.3s; /* Safari 和 Chrome */
    -o-transition: all 0.3s; /* Opera */
    cursor: pointer;
    &+&{
        margin-top: 10px;
    }
    & .cell-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 50px;
        margin-bottom: 20px;
        & .head-face{
            align-self: center;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            font-size: 0;
            border-radius: 50%;
            overflow: hidden;
            &>img{
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                object-fit: cover;
            }
        }
        & .head-main{
            flex: 1;
            display: flex;
            justify-content: space-between;
            min-height: 50px;

            // line-height: 50px;
            font-size: 20px;
            color: #f2f2f2;
            .head-main-cell{
                display: flex;
                align-items: center;
            }
        }
    }
    & .cell-body{
        width: 100%;
        min-height: 40px;
        line-height: 32px;
        font-size: 16px;
        color: #f2f2f2;
    }
    &:hover{
        border-color: #b13dd6;
    }
}

@media only screen and(max-width: 768px ) {
    .head-main{
        font-size: 16px !important;
        flex-direction: column;
        align-items: center;
    }
    .cell-body{
        font-size: 14px !important;
    }
}