.div{
    // width:95vw;
    // width:95vw;
    flex: 1;
    min-height:100vh;
    background: #2b343a;
    color: #fff;
    padding: 30px 30px 50px 30px;
    box-sizing:border-box;
    position: relative;
    .logo{
        width: 50%;
        max-width: 350px;
        min-width: 200px;
        img{
            width:100%;
            height:100%;
        }
    }
    .content{
        margin:40px 0 20px 0;
        width: 100%;
        height: 280px;
        padding:27px 17px 10px 18px;
        border: 3px solid #f2f2f2;
        box-sizing: border-box;
        .search-input{
            width: 100%;
            height: 174px;
            background: #2B343A;
            border: none;
            box-sizing:border-box;
            color: #f2f2f2;
            font-size: 15px;
            outline: none;
            resize:none;
            font-family: none;
        }
        // .search-input:fo
    }
}
// 文本框下面的div样式
.textBottom{
  display: flex;
  // flex-wrap: nowrap;
  justify-content: center;
  // align-items: center;
  justify-content: space-between;
  height: 70px;
  ul {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.copy{
  font-size:15px;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.li_bottom{
  color: #c678d0;
  font-size: 16px;
}
.content_length{
  margin-bottom:7px;
}
.input_but{
  font-size:15px;
  cursor: pointer;
  background: #943fef;
  color: #fff;
  height: 40px;
  width: 120px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(148,63,239, 1);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition:  all 1250ms cubic-bezier(0.19, 1, 0.22, 1); /* Firefox 4 */
  -webkit-transition:  all 1250ms cubic-bezier(0.19, 1, 0.22, 1); /* Safari 和 Chrome */
  -o-transition:  all 1250ms cubic-bezier(0.19, 1, 0.22, 1); /* Opera */
}
.input_but:hover{
  border: 1 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline: 5px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 20px;
  text-shadow: 1px 1px 2px #427388;
}
.left{
  height: 50px;
};
.right{
  margin-bottom:5px;
  li{
    text-align: center
  }
}

.BigContent{
  overflow: hidden;
  .content_left, .content_right {
    float: left;
  }
  .content_left {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1000px) {
  .content_left, .content_right {
    clear: both;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1001px) {
  .content_left, .content_right {
    float: left;
  }
  .content_left {
    width: 65%;
  }
  .content_right {
    width: calc(35% - 30px);
    margin: 40px 0 0 30px;
  }
}

.pink{
  color: #c678d0;
}
.violet{
  color: #943fef;
  cursor: pointer;
}

// @media only screen and (min-width: 1170px) {
//   .div{
//     padding: 54px 90px 50px calc(18.5vh + 100px);
//   }
// }

