.slide-down-enter-active{
  animation: fadeInDown 0.5s ease-out;
}
.slide-up-enter-active
{
  animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(100%);
      transform:translateY(100%);
  }
  to {
      opacity: 1;
      visibility: visible;
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      visibility: hidden;
      -webkit-transform:translateY(-100%);
      transform:translateY(-100%);
  }
  to {
      visibility: visible;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}
